<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">ブログ管理アプリ</title>
</head>

<body>
    <header th:fragment="header">
        <div class="top">
            <a th:href="@{/blogs}"><h1>まいぶろぐ</h1></a>
            <form th:action="@{/blogs}" method="get">
                <span>
                    <input type="text" name="keyword" th:value="${keyword}" placeholder="キーワード検索">
                    <button type="submit">検索</button>
                </span>
            </form>

            <a th:href="@{/blogs/post}"><span>投稿</span></a>
        </div>


        <nav>
            <p><a th:href="@{/blogs}">ホーム</a></p>
            <p><a th:href="@{/about}">このサイトについて</a></p>
            <p><a th:href="@{/profile}">プロフィール</a></p>
        </nav>

    </header>
</body>

</html>