.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: deepskyblue;
    list-style: none;
    width: 100%;
}

.top h1 {
    color: darkgreen;
    font-weight: bolder;
    text-decoration: none;
}

main {
    margin-top: 80px;
}

.box {
    border: 2px solid #aaa;
    background-color: antiquewhite;
    padding: 2em;
    border-radius: 15px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    color: deeppink;
}

a {
    text-decoration: none;
}
