<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>投稿</title>
</head>
<body>
    <main>
        <form action="/" method="post">
            <p>タイトル</p>
            <input type="text">
            <p>本文</p>
            <input type="textarea"> <br>
            <button type="submit">保存</button>
        </form>
    </main>
</body>
</html>